html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid blanchedalmond;
}


h1 {
    text-align: center;
    margin-top: 30px;
    color: #00819d;
    border: 3px solid #4C8500;
    border-radius: 50%;
    width: 100%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
