@media screen and (max-width: 575px) {
    .table {
        font-size: 13px;
    }
    th {
        display: none;
    }
    th.h3 {
        border: 1px solid grey;
    }
    td, th.h3 {
        display: block;
        text-align: start;
    }

    td:first-child {
        padding-top: 1rem;
    }
    td:last-child {
        padding-bottom: 1rem;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
    }

    td:not([data-cell]) {
        display: none;
    }
}
